<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="property.classtest.example.com.codeanim">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="property.classtest.example.com.example.classtest.property.CodeAnim" >

            </activity>
        <activity android:name="property.classtest.example.com.example.classtest.property.XMLAnim" />
        <activity android:name="property.classtest.example.com.example.classtest.viewanim.ViewAnim" />
        <activity android:name="property.classtest.example.com.example.classtest.drawableanim.DrawableAnim" />
        <activity android:name="property.classtest.example.com.example.datastorage.SharedPre">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="property.classtest.example.com.example.datastorage.InternalStorage" />
        <activity android:name="property.classtest.example.com.example.datastorage.CacheFile" />
        <activity android:name="property.classtest.example.com.example.datastorage.ExternalStorage"></activity>
        <activity android:name="property.classtest.example.com.example.classtest.transition.Transition"></activity>
    </application>

</manifest>